<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
<% include partials/menu %>
<main role="main" class="container text-center">

    <div class="starter-template">
        <h3><%= page %></h3>
    <div class="row">

        <div class="col-12">
            <div class="alert alert-danger" id="msgDiv" style="display: none">

            </div>
            <div class="alert alert-success" id="succDiv" style="display: none">

            </div>

            <form class="form-horizontal" method="post" >
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Name:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Email:</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Password:</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" name="password"
                               id="password" placeholder="Enter password">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Phone:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="phone"
                               id="phone" placeholder="Enter phone" >
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-9">
                        <button type="button" id="register_btn" class="btn btn-default">Register</button>
                    </div>
                </div>
            </form>



        </div>

    </div>
</div>
</main>
</body>
<% include partials/script %>
</html>
<script>
    $(function(){
        $("#register_btn").on('click', function(event){
            //event.preventDefault();
            var name   = $("#name").val();
            var email      = $("#email").val();
            var password   = $("#password").val();
            var phone       = $("#phone").val();

                $.ajax({
                    url: "/register",
                    method: "POST",
                    statusCode: {
                        422: function(res) {

                            var errors = '<ul>';
                            $.each( res.responseJSON.errors, function( key, value ) {
                                errors = errors +'<li>'+value.msg+'</li>';
                            });
                            errors = errors+ '</ul>';
                            $("#msgDiv").html(errors).show();
                            setTimeout(function () {
                                $("#msgDiv").hide();
                            },3000)

                           //console.log();
                        }
                    },
                    data: { name: name, email: email, password: password,phone:phone  }
                }).done(function( data ) {
                   console.log(data);
                    if ( data ) {
                        if(data.token != '') {

                            $("#succDiv").html("<p>User is registered successfully</p>").show();
                            setTimeout(function () {
                                $("#succDiv").hide();
                                window.location.href = '/login'
                            },3000)


                        }

                    }
                });

        });
    });
</script>